.navbar {
  /* border: solid red 1px; */
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
boyd {
  margin-top: 4rem;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  /* border: solid black 1px; */
  margin-left: 1rem;
}
.logo {
  width: 4rem;
  /* border: solid black 1px; */
}
.title {
  font-size: 1.5rem;
  /* border: solid rgb(8, 1, 223) 1px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.input-button {
  /* border: solid brown 2px; */
  display: flex;
  padding-top: 5px;
  margin-right: 1rem;
  gap: 1rem;
}
.input-box {
  width: 30rem;
  height: 3rem;
  border: solid gray 3px;
  box-shadow: 0 0 2px 2px;
  border-style: hidden;
  border-radius: 0.5rem;
  font-size: large;
}
.input-box:hover {
  transform: scale(1.1);
}
.button {
  width: 10rem;
  height: 3rem;
  border: solid gray 3px;
  box-shadow: 0 0 2px 2px;

  border-style: hidden;
  border-radius: 0.5rem;
  font-size: large;
}
